{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <br>
    <form action="{{ url_for('add_device') }}" method=post class=add-bill>
      <dl>
        <dt><label for="cost">Bill Amount</label>
          <span class="currency">e.g. ($23.35)</span>
          <dd><input id="amount" type="text" maxlength="15" name='bill_amount'>
        <dt><label for="contributor">Roommates:</label>
          <span class="contributors"></span>
          <dd><input length="5" name='contributors'>
          <dd><input type=submit value=Split>
      </dl>
    </form>
    <form action="{{ url_for('delete_all_devices') }}" method=post class=delete-all-devices>
    <dd><input type=submit value=Reset>
  {% endif %}
{% endblock %}